.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/menu_white.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-gradiente);
}

.container__logo {
    margin-left: 1em;
}

.opcoes {
    display: none;
}

.container__titulo {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 73vw;
}

.container__botao {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu a {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo, .container__titulo-negrito {
        font-family: var(--font-secundaria);
        font-size: 30px;
        padding-left: 5px;
        display: flex;   
    }

    .container__titulo-negrito {
        font-weight: 700;
    }

    .container__titulo {
        font-weight: 400;
    }

    .opcoes {
        display: flex;
        justify-content: space-evenly;
    }

    .opcoes__item {
        padding: 2em;
        font-weight: 400;
        text-transform: uppercase;
    }

    .imagem-transparente {
        display: none;
    }

    .container__opcoes-menu:checked ~ .lista-menu {
        display: block;
        width: auto;
        left: 30%;
    }

    .container__opcoes-menu {
        display: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link {
        display: flex;
        align-items: center;
        font-size: 20px;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto {
        display: block;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .container__opcoes {
        margin-right: auto;
    }

    .container__opcoes-menu:checked{
        background: var(--azul-gradiente);
    }

    .container__opcoes-menu:checked ~ .lista-menu {
        left: 14.09%;
        background: var(--azul-gradiente);
    }

    .opcoes__item:hover {
        background: var(--azul-gradiente);
        color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-gradiente);
    }

    .lista-menu__item:hover >.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


}