.rodape__assinatura {
    background-color: #F9F9F9;
    border-top: 1px solid #858585;
}

.rodape__assintura-texto {
    color: #000000;
    padding: 24px;
}

@media screen and (min-width: 1024px) {
    .rodape__assinatura {
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        padding: 20px 0 70px 0;
    }
    
    .rodape__assintura-texto {
        font-size: 24px;
    }

    .rodape__titulo {
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza-claro);
        margin-bottom: 30px;
    }

    .rodape__lista {
        display: flex;
        flex-direction: column;
    }

    .rodape__link {
        color: var(--cinza-escuro);
        font-size: 14px;
        display: flex;
        align-items: center; 
        text-decoration: none;
    }

    .rodape__item {
        margin: .5em 0;
        display: flex;
        align-items: center; 
    }
    .rodape__item-texto {
        padding-left: .5em;
    }
}